/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  background-color:  #EFEFEF;
}

nav {
  position: fixed;
  color: #41D492;
}

.navbar {
  
  height: 200px;
  background-color: #203A45;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  padding: 0; 

}

.btn  {
  background-color: #203A45;
  color: #EFEFEF;
}

.table {
  float: left;
  width: 850px;
}

th {
  background-color: #203A45;
  color: #EFEFEF;
}

h1 {
  color: #203A45;
}

.signup {
  margin-top: 30px;
  padding: 15px;
  
  width: 50%;
  height: 350px;
}

.nav-left {
  float:left;
  width: 300px;
  height: auto;
  margin: 25px 15px;
}

agm-map {
  clear: both;
  height: 400px;
  width: 850px;
  margin-bottom: 20px;
  margin-left: 345px;
}