body {
  background-color: #EFEFEF;
}

.nav-left {
  float:left;
  width: 300px;
  height: auto;
  margin: 25px 15px;
}


.btn-new-customer {
  float: left;
  margin: 25px;
}

.buscador {
  float: left;
  margin: 25px;
}

