<!-- 
   <div *ngIf="!session.getUser()">
    <form>
      <h2> Signup </h2>
      <label> Username </label>
      <input type="text" [(ngModel)]="username" name="username"/>
      <br>
      
      <label> Password </label>
      <input type="password" [(ngModel)]="password" name="password"/>
      <br>

      <label> Email </label>
      <input type="email" [(ngModel)]="email" name="email"/>
      <div>
       
        <button (click)="signup()"> signup </button>
      </div>
    </form>
    <p *ngIf="error" class="error"> {{ error }} </p>
  </div>  -->
  <body>
<div class="container signup">
  <div class="row">
      <div class="col-md-7 mx-auto">
  <div *ngIf="!session.getUser()">
  <form>
      <div class="form-group">
          <label for="exampleInputUsername1">Username</label>
          <input type="text" [(ngModel)]="username" name="username" class="form-control" id="exampleInputUsername1" placeholder="Username">
        </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" [(ngModel)]="email" name="email"  class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" [(ngModel)]="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      
      <button (click)="signup()" class="btn btn-default">Submit</button>
    </form>
    <p *ngIf="error" class="error"> {{ error }} </p>
  </div>
  </div>
</div>
</div>
</body>