
<div class="container nav-left">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active">
        <a href="#">Dashboard</a>
      </li>
      <li role="presentation">
        <a href="#">Customers</a>
      </li>
      <li role="presentation">
        <a href="#">Leads</a>
      </li>
      <li role="presentation">
        <a href="#">Products</a>
        
      </li>
    </ul>
    <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" [(ngModel)]="myDate" name="myDate" (dateInput)="submitDate(myDate)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker></mat-datepicker>
    </mat-form-field>
  </div>

  
  
  
      <div *ngIf="!session.user" class="message">
        <h1> You have to signup </h1>
      </div>
  
      <div *ngIf="session.user" class="message">
          <h1>Welcome </h1>
            <p>{{ session.user.username }}</p>
         
      </div>
  
      
  
    <div class="right">
      <div class="btns">
        <a *ngIf="session.user" routerLink='/customers'>Go to DashBoard</a>
       
        <a *ngIf="!session.user" [routerLink]="['signup']">Signup</a>
      
      </div>
    </div>
