

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <form *ngIf="session.getUser()" class="navbar-form navbar-right">
        <button (click)="logout()" class="btn btn-default">Logout</button>
      </form> 
      <ul *ngIf="!session.getUser()" class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['login']" class="navbar-brand">Login</a></li>
        <li><a [routerLink]="['signup']"  class="navbar-brand">Signup</a></li>
      </ul>
      <ul *ngIf="session.getUser()" class="nav navbar-nav navbar-right">
        <li><a href="#" class="navbar-brand">Hello {{session.getUser().username}}!</a></li>
        <li><a routerLink='/customers' class="navbar-brand">Go to Dashboard</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<!-- <a *ngIf="session.user" routerLink='/customers'>Go to DashBoard</a>

<button routerLink='/customer/create' class="btn btn-success">Create New Customer</button>  -->





<!-- <div>
  <div>CRM Mobile</div>
  <div *ngIf="!session.getUser()">
    <a [routerLink]="['login']">Login</a> | <a [routerLink]="['signup']">Signup</a>
  </div>
  <div *ngIf="session.getUser()">
      <span>Hello {{session.getUser().username}}!</span> | <button (click)="logout()" class="btn btn-success">Logout</button> | <button routerLink='/customers' class="btn btn-success">Go to Dashboard</button>
  </div>
</div>

<a *ngIf="session.user" routerLink='/customers'>Go to DashBoard</a>

<button routerLink='/customer/create' class="btn btn-success">Create New Customer</button>  -->