

<div *ngIf="!session.getUser()">
    <form>
      <h2> Login </h2>
     
      <label> Username </label>
      <input type="text" [(ngModel)]="username" name="username"/>
      <br>
     
      <label> Password </label>
      <input type="password" [(ngModel)]="password" name="password"/>

     
      <div>
        <button (click)="login()"> login </button>
       
      </div>
    </form>
    <p *ngIf="error" class="error"> {{ error }} </p>
  </div>
  
  <div *ngIf="session.getUser()">
    <pre> {{ session.getUser() | json }} </pre>
    <button (click)="logout()"> Logout </button>
  </div>
  



    <div class="splash active">
      <div class="icon"></div>
    </div>
  
    <div class="wrapper">
  
      <div class="page-content full-width">
        <div class="container">
          <div class="row">
            <div class="col-md-4 mx-auto">
  
              <div class="page-brand">
                <i class="ion ion-ios-pulse-strong" aria-hidden="true"></i>
              </div>
  
              <div class="card card-default widget">
                <div class="card-heading">
                  <h3 class="card-title">Sign In</h3>
                </div>
                <div class="card-body">
                  <form action="index.html">
                    <div class="form-group">
                      <label>Email</label>
                      <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <label>Password</label>
                      <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-success btn-block btn-lg">Sign In</button>
                  </form>
  
                  <div class="margin-tb-10">
                    <a href="#">Forgot your password?</a>
                  </div>
                </div>
              </div>
  
              <div class="text-center">
                <span class="text-muted">Dont have an account?</span> <a href="page-register.html">Sign Up</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    